@using LoopUI.Models
@{
	Captcha captcha = new Captcha();
	<p>Solve:</p>
	<label>
		<img alt="Captcha" src="@Url.Action("CaptchaImage", "Captcha")" />
	</label> 
	@Html.TextBoxFor(x => captcha.CaptchaResult)
	@Html.ValidationMessage("Captcha")
}
