@model Models.User
<div id="message">
	<b>@ViewBag.Message</b>
</div>
@using (Html.BeginForm("Index", "Login", FormMethod.Post))
{
<div class="block">
	<label>User name:</label>
	@Html.TextBoxFor(x => x.Login)
</div>
<div class="block">
	<label>Password:</label>
	@Html.PasswordFor(x => x.Password)
</div>
<div class="block">
@{
	Html.RenderPartial("PartialViews/Captcha");
}
</div>
<input type="submit" id="submit" value="Enter" />
}