<table id="task" class="scroll" cellpadding="0" cellspacing="0"></table>
		<div id="taskpager" class="scroll" style="text-align:center;">
		</div>
	<script type="text/javascript">
		jQuery(document).ready(function () {
			jQuery("#task").jqGrid({
				url: '@Url.Action("GetTasks", ViewBag.transactionController)',
				datatype: 'json',
				mtype: 'GET',
				width: 586,
				height: 250,
				colNames: ['Number', 'Title', 'Status', 'IsActive'],
				colModel: [
									{ name: 'number', index: 'number', width: 175, fixed: true, align: 'left' },
									{ name: 'title', index: 'title', width: 80, fixed: true, align: 'left' },
									{ name: 'status', index: 'status', width: 120, fixed: true, align: 'left', editable: true, edittype: 'select',
										editoptions: { value: "1:Planning;2:Development" }, formatter: 'select', editrules: { required: true }},
									{ name: 'isactive', index: 'isactive', width: 85, fixed: true, align: 'center', editable: true, edittype: 'checkbox', editoptions: { value: "True:False" },
										formatter: 'checkbox', formatoptions: { disabled: false}
									}
							],
				pager: jQuery('#taskpager'),
				//rowNum: 10000,
				//pgbuttons: false,
				//pgtext: null,
				viewrecords: false,
				sortname: 'number',
				sortorder: "desc",
				//imgpath: '/scripts/themes/coffee/images',
				viewrecords: true,
				caption: 'Tasks'
			});
		});
	</script>