@{
	ViewBag.Title = "Metrics";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
	$(function () {

		$(function () {
			$('#burndown').highcharts({
				chart: {
					type: 'line',
					marginRight: 130,
					marginBottom: 25
				},
				title: {
					text: 'Burndown',
					x: -20 //center
				},
				subtitle: {
					text: 'efforts required',
					x: -20
				},
				xAxis: {
					categories: ['1', '2', '3', '4', '5', '6',
                    '7', '8', '9', '10', '11', '12']
				},
				yAxis: {
					title: {
						text: 'Effort'
					},
					plotLines: [{
						value: 0,
						width: 1,
						color: '#808080'
					}]
				},
				tooltip: {
					valueSuffix: ' parrots'
				},
				legend: {
					layout: 'vertical',
					align: 'right',
					verticalAlign: 'top',
					x: 0,
					y: 100,
					borderWidth: 0
				},
				series: [{
					name: 'Expected',
					data: [100.0, 90.0, 80.0, 70.0, 60.0, 40.0, 30.0, 20.0, 10.0, 0.0, 0.0, 0.0]
				}, {
					name: 'Real',
					data: [100.0, 92.0, 84.7, 65.3, 65.0, 60.8, 50.0, 43.1, 36.1, 22.1, 10.6, 0.0]
				}]
			});
		});

		$('#sprints').highcharts({
			chart: {
				type: 'bar'
			},
			title: {
				text: 'Sprint efforts statistics'
			},
			subtitle: {
				text: 'Loop UI'
			},
			xAxis: {
				categories: ['Sp1', 'Sp2', 'Sp3', 'Sp4', 'Sp5'],
				title: {
					text: null
				}
			},
			yAxis: {
				min: 0,
				title: {
					text: 'Efforts (parrots)',
					align: 'high'
				},
				labels: {
					overflow: 'justify'
				}
			},
			tooltip: {
				valueSuffix: ' parrots'
			},
			plotOptions: {
				bar: {
					dataLabels: {
						enabled: true
					}
				}
			},
			legend: {
				layout: 'vertical',
				align: 'right',
				verticalAlign: 'top',
				x: -100,
				y: 100,
				floating: true,
				borderWidth: 1,
				backgroundColor: '#FFFFFF',
				shadow: true
			},
			credits: {
				enabled: false
			},
			series: [{
				name: "sprint efforts",
				data: [38, 45, 55, 43, 39]
			}]
		});
	});
		
	
</script>
<div id="sprints" style="min-width: 400px; height: 400px; margin: 0 auto" >
</div>
<div id="burndown" style="min-width: 400px; height: 400px; margin: 0 auto">
</div>
