@{
	ViewBag.Title = "Metrics";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
	$(function () {
		Morris.Line({
			element: 'burndown',
			data: [
							{ y: '1', a: 100, b: 100 },
							{ y: '2', a: 90, b: 92 },
							{ y: '3', a: 80, b: 84 },
							{ y: '4', a: 70, b: 65 },
							{ y: '5', a: 60, b: 65 },
							{ y: '6', a: 50, b: 65 },
							{ y: '7', a: 40, b: 65 },
							{ y: '8', a: 30, b: 43 },
							{ y: '9', a: 20, b: 36 },
							{ y: '10', a: 10, b: 22 },
							{ y: '11', a: 0, b: 10 },
							{ y: '12', a: 0, b: 0 }
						],
			xkey: 'y',
			ykeys: ['a', 'b'],
			labels: ['Expected', 'Real']
		});
	});
	
</script>
<div id="burndown">
</div>
