@model IEnumerable<LoopUI.Models.Sprint>
@{
	ViewBag.Title = "Sprints";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<table id="sprint" class="scroll" cellpadding="0" cellspacing="0">
</table>
<div id="sprintpager" class="scroll" style="text-align: center;">
</div>
@using Mvc.HtmlHelpers
@(Html.jqGrid("sprint")
		.addColumn(new Column("keyedname").setLabel("Keyed Name")
		.setSortable(true)
		.setWidth(50))
		.addColumn(new Column("isactive").setLabel("Active")
		.setEditType(EditType.checkbox)
		.setEditOptions("value: 'True:False'")
		.setFormatter(Formatters.checkbox)
		.setAlign(Align.center)
		.setEditable(true)
		.setWidth(20))
		.addColumn(new Column("actions").setLabel("Actions")
		.setSortable(false)
		.setAlign(Align.left)
		.setEditable(false)
		.setWidth(80)
		.setFormatter(Formatters.actions))

		// settings
		.setCaption("Sprint")
		.setRequestType(RequestType.get)
		.setUrl(Url.Action("GetSprints", "Sprint"))
		.setAltRows(true)
		.setAltClass("altGridRows")
		.setAutoWidth(true)
		.setHeight(250)
		.setRowNum(10)
		.setRowList(new int[] { 10, 15, 20, 50 })
		.setViewRecords(true)
		.setSortName("Title")
		.setSortOrder(SortOrder.asc)
		.setPager("sprintpager")
		.setPgButtons(true)
		.setCellEdit(true)
		.setCellSubmit(CellSubmit.clientArray)
		.Render()
)
