@model IEnumerable<LoopUI.Models.Sprint>
@{
	ViewBag.Title = "Sprints";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
	function GridLoaded() {
		var grid = $("#sprint");

		grid.jqGrid('setGridParam', { onSelectRow: function (id) { return false; } });

		grid.navButtonAdd("#sprintpager", {
			caption: "",
			title: "Add sprint",
			buttonicon: "ui-icon-plusthick",
			onClickButton: function () {
				document.location.href = '/Admin/Sprint/AddSprint';
			},
			position: "last"
		});
	}
</script>
<table id="sprint" class="scroll" cellpadding="0" cellspacing="0">
</table>
<div id="sprintpager" class="scroll" style="text-align: center;">
</div>
@using Mvc.HtmlHelpers
@(Html.jqGrid("sprint")
		.addColumn(new Column("keyedname").setLabel("Keyed Name")
		.setSortable(true)
		.setAlign(Align.center)
		.setEditable(true)
		.setWidth(400))
		.addColumn(new Column("isactive").setLabel("Active")
		.setEditType(EditType.checkbox)
		.setEditOptions("value: 'True:False'")
		.setFormatter(Formatters.checkbox)
		.setAlign(Align.center)
		.setEditable(true)
		.setWidth(60))
		.addColumn(new Column("actions").setLabel("Actions")
		.setSortable(false)
		.setAlign(Align.left)
		.setEditable(false)
		.setWidth(80)
		.setFormatter(Formatters.actions))

		// settings
		.setCaption("Sprint")
		.setRequestType(RequestType.get)
		.setUrl(Url.Action("GetSprints", "Sprint"))
		.setAltRows(true)
		.setAltClass("altGridRows")
		.setAutoWidth(true)
		.setHeight(250)
		.setWidth(600)
		.setRowNum(10)
		.setRowList(new int[] { 10, 15, 20, 50 })
		.setViewRecords(true)
		.setSortName("Title")
		.setSortOrder(SortOrder.asc)
		.setPager("sprintpager")
		.setPgButtons(true)
		.setEditUrl(Url.Action("SprintOperation", "Sprint"))
		.setCellEdit(false)
		.setNavAdd(false)
		.setNavDel(false)
		.setNavEdit(false)
		.setCellSubmit(CellSubmit.clientArray)
		.onDblClickRow("document.location.href = '/Admin/Sprint/EditSprint/' + rowid.toString();")
		.setDocumentReadyJavaScript("GridLoaded();")
		.Render()
)
