@model IEnumerable<LoopUI.Models.Task>
@{
	ViewBag.Title = "Tasks";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div style="padding:0;">
@{
	//controller may be also Sprint or user
	ViewBag.transactionController = "Task";
	Html.RenderPartial("PartialViews/Tasks");
}
</div>