@{
	ViewBag.Title = "Users";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
	function GridLoaded() {
		var grid = $("#user");
		//decide by task state if additional option should be added.
		grid.jqGrid('setGridParam', { onSelectRow: function (id) { return false; } });
		grid.navButtonAdd("#userpager", {
			caption: "",
			title: "Add task",
			buttonicon: "ui-icon-plusthick",
			onClickButton: function () {
				document.location.href = '/Admin/User/AddUser';
			},
			position: "last"
		});
	}
</script>
<table id="user" class="scroll" cellpadding="0" cellspacing="0">
</table>
<div id="userpager" class="scroll" style="text-align: center;">
</div>
@using Mvc.HtmlHelpers
@(Html.jqGrid("user")
		.addColumn(new Column("name").setLabel("Name")
		.setSortable(true)
		.setEditable(true)
		.setWidth(50))
		.addColumn(new Column("surname").setLabel("Surname")
		.setEditable(true)
		.setSortable(true)
		.setWidth(50))
		.addColumn(new Column("email").setLabel("Email")
		.setSortable(true)
		.setEditable(true)
		.setWidth(50))
		.addColumn(new Column("isactive").setLabel("Active")
		.setEditType(EditType.checkbox)
		.setEditOptions("value: 'True:False'")
		.setFormatter(Formatters.checkbox)
		.setAlign(Align.center)
		.setEditable(true)
		.setWidth(20))
		.addColumn(new Column("actions").setLabel("Actions")
		.setSortable(false)
		.setAlign(Align.left)
		.setEditable(false)
		.setWidth(80)
		.setFormatter(Formatters.actions))

		// settings
		.setCaption("Users")
		.setRequestType(RequestType.get)
		.setUrl(Url.Action("GetUsers", "User"))
		.setAltRows(true)
		.setAltClass("altGridRows")
		.setAutoWidth(true)
		.setHeight(250)
		.setRowNum(10)
		.setRowList(new int[] { 10, 15, 20, 50 })
		.setViewRecords(true)
		.setPager("userpager")
		.setPgButtons(true)
		.setCellEdit(false)
		.setEditUrl(Url.Action("UserOperation", "User"))
		.setCellSubmit(CellSubmit.clientArray)
		.setDocumentReadyJavaScript("GridLoaded();")
		.onDblClickRow("document.location.href = '/Admin/User/EditUser/' + rowid.toString();")
		.Render()
)
